@import "templates/main";
@import "templates/sidebar";
@import "templates/topbar";
@import "elements/perfectscrollbar";
@import "elements/form";
@import "elements/card";
@import "elements/typography";
@import "elements/accordion";
@import "elements/alert";
@import "elements/badges";
@import "elements/breadcrumb";
@import "elements/button";
@import "elements/dropdown";
@import "elements/listgroup";

.code-desc{
    background-color: rgb(161 172 184 / 10%);
    padding: 1rem;
    text-align: justify;
    border-radius: .5rem;
}

.row.match-height{
    > [class*='col']{
        display: flex;
        flex-direction: column;

        .card{
            height: 100% !important;
            margin-bottom: 1.5rem !important;
        }
    }
}

.demo-inline-spacing > *{
    margin-right: 1rem;
    margin-bottom: 1rem;
}

@media(max-width:991px){
    .demo-inline-spacing {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        > *{
            margin-bottom: 1rem;
        }
    }
}