.form-control{
    display: block;
    padding: 0.4375rem 0.875rem;
    width: 100%;
    border-radius: .5rem;
    font-weight: 400;
}

.form-check-input{
    cursor: pointer;

    &:checked{
        background-color: map-get($map: $bs-colors, $key: "primary") !important;
        border-color: map-get($map: $bs-colors, $key: "primary") !important;
    }

    &:active,
    &:focus,
    &:checked{
        box-shadow: none;
    }
}