<aside class="sidebar-menu menu" id="sidebar-menu">
    <div class="app-brand">
        <a href="index.html" class="app-brand-link">
            <span class="brand-logo"></span>
            <span class="brand-text fw-semibold ms-2">Velin</span>
        </a>
        <a href="javascript:void(0)" class="sidebar-menu-toggle ms-auto">
            <i data-feather="arrow-left-circle"></i>
        </a>
        <a href="javascript:void(0)" class="sidebar-menu-expand-toggle ms-auto">
            <i data-feather="disc"></i>
        </a>
    </div>
    <div class="sidebar-menu-shadow"></div>
    <ul class="menu-list py-3 ps-menu">
        <li class="menu-item">
            <a href="index.html" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-home"></i>
                </span>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="menu-header small text-uppercase">User Interface</li>
        <li class="menu-item">
            <a href="typography.html" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-t"></i>
                </span>
                <span>Typography</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <span class="menu-icon">
                    <i class="fa fa-layer-group"></i>
                </span>
                <span>Layouts</span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Collapsed Menu</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Without Menu</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Layout Empty</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Layout Blank</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <span class="menu-icon">
                    <i class="fa fa-layer-group"></i>
                </span>
                <span>Components</span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="accordion.html" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="alert.html" class="menu-link">
                        <span>Alert</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="badge.html" class="menu-link">
                        <span>Badge</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="breadcrumb.html" class="menu-link">
                        <span>Breadcrumb</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="button.html" class="menu-link">
                        <span>Button</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="card.html" class="menu-link">
                        <span>Card</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="carousel.html" class="menu-link">
                        <span>Carousel</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="collapse.html" class="menu-link">
                        <span>Collapse</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="dropdown.html" class="menu-link">
                        <span>Dropdown</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="list-group.html" class="menu-link">
                        <span>List Group</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="modal.html" class="menu-link">
                        <span>Modal</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Navbar</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Nav & Tab</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Offcanvas</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Pagination</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Placeholder</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Popover</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Progress</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Scrollspy</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Spinner</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Toast</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Tooltip</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <span class="menu-icon">
                    <i class="fa fa-font-awesome"></i>
                </span>
                <span>Icons</span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Fontawesome</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Feather</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Material Icon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Flaticon</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <span class="menu-icon">
                    <i class="fa fa-add"></i>
                </span>
                <span>Extensions</span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase">Forms</li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <span class="menu-icon">
                    <i class="fa fa-file"></i>
                </span>
                <span>Form Elements</span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-layer-group"></i>
                </span>
                <span>Form Layout</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-file-text"></i>
                </span>
                <span>Form Wizard</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-check-circle"></i>
                </span>
                <span>Form Validation</span>
            </a>
        </li>
        <li class="menu-header small text-uppercase">Table</li>
        <li class="menu-item">
            <a href="" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-table-cells"></i>
                </span>
                <span>Default Table</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-table"></i>
                </span>
                <span>Datatable</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-edit"></i>
                </span>
                <span>Editable</span>
            </a>
        </li>
        <li class="menu-header small text-uppercase">Charts</li>
        <li class="menu-item">
            <a href="" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-chart-pie"></i>
                </span>
                <span>Chartjs</span>
            </a>
        </li>
        <li class="menu-header small text-uppercase">Pages</li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <span class="menu-icon">
                    <i class="fa fa-lock"></i>
                </span>
                <span>Authentication</span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <span class="menu-icon">
                    <i class="fa fa-exclamation-triangle"></i>
                </span>
                <span>Errors</span>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="" class="menu-link">
                        <span>Accordion</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>