<nav class="navbar-container navbar navbar-expand-xl align-items-center">
    <div class="navbar-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-lg-none">
        <a href="javascript:void(0)" class="nav-item">
            <i data-feather="menu"></i>
        </a>
    </div>

    <!-- Search box -->
    <div class="d-flex align-items-center navbar-nav-right">
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <i data-feather="search"></i>
                <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search...">
            </div>
        </div>
    </div>
    <!-- Search box -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
        <!-- User -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                    <img src="../assets/images/avatar.jpg" alt="" class="w-px-40 h-auto rounded-circle">
                </div>
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a href="javascript:void(0)" class="dropdown-item">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar avatar-online">
                                    <img src="../assets/images/avatar.jpg" alt="" class="w-px-40 h-auto rounded-circle">
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <span class="fw-semibold d-block">Permana</span>
                                <small class="text-muted">Admin</small>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a href="javascript:void(0)" class="dropdown-item">
                        <i class="me-2" data-feather="user"></i>
                        <span class="align-middle">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="dropdown-item">
                        <i class="me-2" data-feather="settings"></i>
                        <span class="align-middle">Settings</span>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a href="javascript:void(0)" class="dropdown-item">
                        <i class="me-2" data-feather="log-out"></i>
                        <span class="align-middle">Logout</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- User -->
    </ul>
</nav>