{% extends "templates/main.html" %}
{% block content %}
<div class="container-xxl flex-grow-1">
    <div class="breadcrumb">
        <h4 class="fw-blod">Alert</h4>
        <div class="breadcrumb-list">
            <ol>
                <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">User Interface</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="javascript:void(0)">Alert</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row match-height">
        <!-- Simple alert -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Simple Alert</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-primary" role="alert">
                        A simple primary alert!
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        A simple secondary alert!
                    </div>
                    <div class="alert alert-warning" role="alert">
                        A simple warning alert!
                    </div>
                    <div class="alert alert-danger" role="alert">
                        A simple danger alert!
                    </div>
                    <div class="alert alert-success" role="alert">
                        A simple success alert!
                    </div>
                    <div class="alert alert-info" role="alert">
                        A simple info alert!
                    </div>
                    <div class="alert alert-light" role="alert">
                        A simple light alert!
                    </div>
                    <div class="alert alert-dark" role="alert">
                        A simple dark alert!
                    </div>
                </div>
            </div>
        </div>
        <!-- Simple alert -->

        <!-- Customer alert -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Customer alert</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-primary">
                        <div class="alert-heading">
                            Alert with heading
                        </div>
                        <div class="alert-body">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui labore accusamus mollitia nulla ullam commodi id! Quaerat, nostrum. Et reprehenderit illo doloribus! Temporibus laboriosam accusamus ipsum voluptatum autem impedit cupiditate.
                        </div>
                    </div>
                    <div class="alert alert-warning alert-with-icon">
                        <div class="alert-icon">
                            <i data-feather="alert-circle" class="icon" size="20"></i>
                        </div>
                        <div class="alert-body">An example alert with icon</div>
                    </div>
                    <div class="alert alert-danger alert-with-icon alert-dismissible">
                        <div class="alert-icon">
                            <i data-feather="alert-circle" class="icon" size="20"></i>
                        </div>
                        <div class="alert-body">Alert dismissible</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Customer alert -->
    </div>
</div>
{% endblock %}