{% extends "templates/main.html" %}
{% block content %}
<div class="container-xxl flex-grow-1">
    <div class="breadcrumb">
        <h4 class="fw-blod">Badge</h4>
        <div class="breadcrumb-list">
            <ol>
                <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">User Interface</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="javascript:void(0)">Badge</a>
                </li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}