{% extends "templates/main.html" %}
{% block content %}
<div class="container-xxl flex-grow-1">
    <div class="breadcrumb">
        <h4 class="fw-blod">Breadcrumb</h4>
        <div class="breadcrumb-list">
            <ol>
                <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Components</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="javascript:void(0)">Breadcrumb</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row match-height">
        <!-- Default -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Default</h4>
                </div>
                <div class="card-body">
                    <div class="breadcrumb">
                        <div class="breadcrumb-list">
                            <ol>
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0)">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0)">Library</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="javascript:void(0)">Data</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Default -->
        
        <!-- Custom -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Custom</h4>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <div class="breadcrumb">
                            <div class="breadcrumb-list breadcrumb-custom-1">
                                <ol>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0)">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0)">Library</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a href="javascript:void(0)">Data</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="breadcrumb">
                            <div class="breadcrumb-list breadcrumb-custom-2">
                                <ol>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0)">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0)">Library</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a href="javascript:void(0)">Data</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="breadcrumb">
                            <div class="breadcrumb-list breadcrumb-custom-3">
                                <ol>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0)">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0)">Library</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a href="javascript:void(0)">Data</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="breadcrumb">
                            <div class="breadcrumb-list breadcrumb-custom-4">
                                <ol>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0)">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript:void(0)">Library</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a href="javascript:void(0)">Data</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Custom -->
    </div>
</div>
{% endblock %}