{% extends "templates/main.html" %}
{% block content %}
<div class="container-xxl flex-grow-1">
    <div class="breadcrumb">
        <h4 class="fw-blod">Button</h4>
        <div class="breadcrumb-list">
            <ol>
                <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Components</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="javascript:void(0)">Button</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row match-height">
        <!-- Basic -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="modal-title">Basic Button</h4>
                </div>
                <div class="card-body">
                    {% set button_colors = [{color: 'primary', text: 'Primary'}, {color: 'secondary', text: 'Secondary'}, {color: 'success', text: 'Success'}, {color: 'danger', text: 'Danger'}, {color: 'warning', text: 'Warning'}, {color: 'info', text: 'Info'}, {color: 'dark', text: 'Dark'}] %}

                    <p class="text-muted">Default</p>
                    <div class="row">
                        <div class="demo-inline-spacing">
                            {% for button in button_colors %}
                            <button class="btn btn-{{ button.color }}" type="button">{{ button.text }}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <p class="text-muted">Rounded</p>
                    <div class="row">
                        <div class="demo-inline-spacing">
                            {% for button in button_colors %}
                            <button class="btn btn-rounded btn-{{ button.color }}" type="button">{{ button.text }}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <p class="text-muted">Gradient Color</p>
                    <div class="row">
                        <div class="demo-inline-spacing">
                            {% for button in button_colors %}
                            <button class="btn btn-gradient-{{ button.color }}" type="button">{{ button.text }}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <p class="text-muted">Flat</p>
                    <div class="row">
                        <div class="demo-inline-spacing">
                            {% for button in button_colors %}
                            <button class="btn btn-flat-{{ button.color }}" type="button">{{ button.text }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Basic -->

        <!-- Outline -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="modal-title">Outline Button</h4>
                </div>
                <div class="card-body">
                    <p class="text-muted">Default</p>
                    <div class="row">
                        <div class="demo-inline-spacing">
                            {% for button in button_colors %}
                            <button class="btn btn-outline-{{ button.color }}" type="button">{{ button.text }}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <p class="text-muted">Rounded</p>
                    <div class="row">
                        <div class="demo-inline-spacing">
                            {% for button in button_colors %}
                            <button class="btn btn-rounded btn-outline-{{ button.color }}" type="button">{{ button.text }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Outline -->

        <!-- Button with icons -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="modal-title">Button with icons</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="row">
                                <p class="text-muted">Basic</p>
                                <div class="col-12">
                                    <button class="btn btn-primary">
                                        <span class="fa fa-upload me-2"></span>
                                        Primary
                                    </button>
                                    <button class="btn btn-secondary">
                                        <span class="fa fa-download me-2"></span>
                                        Secondary
                                    </button>
                                </div>
                                <div class="col-12 mt-3">
                                    <button class="btn btn-rounded btn-primary">
                                        <span class="fa fa-upload me-2"></span>
                                        Primary
                                    </button>
                                    <button class="btn btn-rounded btn-secondary">
                                        <span class="fa fa-download me-2"></span>
                                        Secondary
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="row">
                                <p class="text-muted mt-2">Outline</p>
                                <div class="col-12">
                                    <button class="btn btn-outline-primary">
                                        <span class="fa fa-upload me-2"></span>
                                        Primary
                                    </button>
                                    <button class="btn btn-outline-secondary">
                                        <span class="fa fa-download me-2"></span>
                                        Secondary
                                    </button>
                                </div>
                                <div class="col-12 mt-3">
                                    <button class="btn btn-rounded btn-outline-primary">
                                        <span class="fa fa-upload me-2"></span>
                                        Primary
                                    </button>
                                    <button class="btn btn-rounded btn-outline-secondary">
                                        <span class="fa fa-download me-2"></span>
                                        Secondary
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="row">
                                <p class="text-muted">Basic</p>
                                <div class="col-12">
                                    <button class="btn btn-primary">
                                        <span class="fa fa-area-chart"></span>
                                    </button>
                                    <button class="btn btn-secondary">
                                        <span class="fa fa-pie-chart"></span>
                                    </button>
                                </div>
                                <div class="col-12 mt-3">
                                    <button class="btn btn-rounded btn-primary">
                                        <span class="fa fa-upload"></span>
                                    </button>
                                    <button class="btn btn-rounded btn-secondary">
                                        <span class="fa fa-download"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="row">
                                <p class="text-muted mt-2">Outline</p>
                                <div class="col-12">
                                    <button class="btn btn-outline-primary">
                                        <span class="fa fa-upload"></span>
                                    </button>
                                    <button class="btn btn-outline-secondary">
                                        <span class="fa fa-download"></span>
                                    </button>
                                </div>
                                <div class="col-12 mt-3">
                                    <button class="btn btn-rounded btn-outline-primary">
                                        <span class="fa fa-upload"></span>
                                    </button>
                                    <button class="btn btn-rounded btn-outline-secondary">
                                        <span class="fa fa-download"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button with icons -->

        <!-- Options -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="modal-title">Button Options</h4>
                </div>
                <div class="card-body">
                    <p class="text-muted">Sizing</p>
                    <div class="row">
                        <div class="demo-inline-spacing">
                            <button class="btn btn-xl btn-primary" type="button">Extra Large</button>
                            <button class="btn btn-lg btn-primary" type="button">Large</button>
                            <button class="btn btn-primary" type="button">Middle</button>
                            <button class="btn btn-sm btn-primary" type="button">Small</button>
                            <button class="btn btn-xs btn-primary" type="button">Extra Small</button>
                        </div>
                    </div>
                    <hr>
                    <p class="text-muted">State</p>
                    <div class="row">
                        <div class="demo-inline-spacing">
                            <button class="btn btn-primary" type="button">Normal</button>
                            <button class="btn btn-primary active" type="button">Active</button>
                            <button class="btn btn-primary" disabled type="button">Disabled</button>
                        </div>
                    </div>
                    <hr>
                    <p class="text-muted">Block</p>
                    <div class="row">
                        <div class="demo-inline-spacing">
                            <button class="btn btn-block btn-primary" type="button">Button</button>
                            <button class="btn btn-block btn-secondary" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Options -->
    </div>
</div>
{% endblock %}