{% extends "templates/main.html" %}
{% block content %}
<div class="container-xxl flex-grow-1">
    <div class="breadcrumb">
        <h4 class="fw-blod">Button</h4>
        <div class="breadcrumb-list">
            <ol>
                <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Components</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="javascript:void(0)">Card</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="row match-height">
        <!-- Basic -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card">
                <img src="../assets/images/coco.jpg" class="card-img-top" alt="Unsplash">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam soluta, laudantium enim similique quaerat temporibus quo inventore fuga minus dolorem, excepturi dicta iure libero distinctio! Illo, ad quae! Ducimus, ut!</p>
                    <a href="javascript:void(0)" class="btn btn-primary">Go Somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                    <p class="text-muted">Subtitle</p>
                </div>
                <img src="../assets/images/orange.jpg" class="img-fluid" alt="">
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae repellat nisi culpa non. Maxime odio excepturi rerum ea deserunt eius optio aspernatur rem asperiores sequi, distinctio, natus atque, odit dignissimos.</p>
                    <a href="javascript:void(0)" class="card-link">Card Link</a>
                    <a href="javascript:void(0)" class="card-link">Another Link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                    <p class="text-muted">Subtitle</p>
                </div>
                <div class="card-body">
                    <img src="../assets/images/cherry.jpg" class="img-fluid d-flex mx-auto my-2" alt="">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae repellat nisi culpa non. Maxime odio excepturi rerum ea deserunt eius optio aspernatur rem asperiores sequi, distinctio, natus atque, odit dignissimos.</p>
                    <a href="javascript:void(0)" class="card-link">Card Link</a>
                    <a href="javascript:void(0)" class="card-link">Another Link</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati similique, vel voluptatum recusandae aperiam, ex et cum enim laboriosam laborum molestiae repellat explicabo a sed odio voluptate nobis pariatur? Tempore.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Card Title</h5>
                    <p class="text-muted">Subtitle</p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati similique, vel voluptatum recusandae aperiam, ex et cum enim laboriosam laborum molestiae repellat explicabo a sed odio voluptate nobis pariatur? Tempore.
                    </p>
                    <a href="javascript:void(0)" class="card-link">Link 1</a>
                    <a href="javascript:void(0)" class="card-link">Link 2</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">First Item</li>
                    <li class="list-group-item">Second Item</li>
                    <li class="list-group-item">Third Item</li>
                    <li class="list-group-item">Fourth Item</li>
                    <li class="list-group-item">Fifth Item</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}